* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 100px;
    padding-top: 50px;
}

.team .card {
    width: 300px;
    height: 450px;
}

.team {
    background-color: rgb(203, 208, 249);
    border-radius: 2%;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-10%);
}

.card img {
    width: 100%;
    height: 250px;
} 

.card-body {
    justify-content: space-between;
}

.card-body h5 {
    font-weight: 500;
}

.card-body p {
    line-height: 1.5;
    color: #ddc8c8;
}