
#contenedorProducto {
    border-radius: 1rem;
    color: rgb(66, 80, 190);
    font-size: 1.2rem;
    
}

#imgCarrito {
    border-radius: 1rem;
    
}

#productoSeleccionado{
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(176, 174, 174);
    border-radius: 1rem;
}

#volverAlInicio{
    text-decoration: none;

}

#total {
    margin-bottom: 0;
}

#seccionRopa{
    margin-top: 100px;
}

#carrito {
    visibility: hidden;
    position: absolute;
}

#search-login{
    visibility: hidden;
    position: absolute;
}

#bienvenidoUsuario{
    visibility: hidden;
}

.botonEliminar {
    background-color: transparent;
    border: 0;
    color: red;
    height: 40px;
}

.contenedorTotal {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(66, 80, 190);
    color: white;
}

.divBotonComprar {
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(66, 80, 190);
}

/* .promociones {
    
} */


@media (max-width: 704px) {
    .contenedorAside {
        padding: 0;
    }
}

@media (max-width: 575px) {
    .contenedorUl {
        display: none;
    }
    .contenedorAside {
        visibility: hidden;
        position: absolute;
        
    }
    .botonInicio {
        display: none;
    }
}

@media (min-width: 576px){
    .botonInicioFin{
        display: none;
    }
}

@media (max-width: 575px){
    .botonInicioFin{
        margin-bottom: 100%;
    }
}