.contenedorCarritoDivs{
    background-color: rgb(66, 80, 190);
    color: black;
    font-size: 1.2rem;
    border-radius: 1rem;
}

#imgCarrito {
    border-radius: 1rem;
}

#botonEliminar {
    background-color: transparent;
    border: 0;
    color: red;
    height: 40px;
}
