*{
    margin: 0;
}

body {
    background-color: rgb(66, 80, 190);
}

#nav {
    background-color: rgb(68, 74, 112);
}

#seccionCategorias {
    max-width: 100%;
    color: white;
}
#seccionRopa {
    max-width: 100%;
    color: rgb(66, 80, 190);
    background-color: rgb(203, 208, 249);
    margin-top: 7vh;
    border-radius: 2%;

}

#buscador {
    width: 80%;
}

#botonHamburguesaHomero{
    width: 2rem;
}

.contenedorAside {
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-right: 0;
}

.asideBotones {
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
}
.active{
    background-color: rgb(203, 208, 249);
    width: 100%;
}

.card {
    border: 1px solid rgb(66, 80, 190);
}
.card-body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(66, 80, 190);
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    color: white;
}

@media (max-width: 575px) {
    .contenedorAside {
        position: static;
        visibility: hidden;
    }

    /* .contenedorDiv{
        position: absolute;
    } */

    .asideBotones {
        width: 80%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    ul {
        padding-left: 0;
    }
    .contenedorUl {
        margin-right: 30px;
        visibility: hidden;
    }

    .divCategoria{
        margin-top: 0;
    }

}

@media (max-width: 800px) {
    .homero {
        display: none;
    }
}

@media (min-width: 992px) {
    .ocultos {
        visibility: hidden;
        position: absolute;
    }
}

@media (min-width: 991px) {
    .textoCategoriaNav {
        visibility: hidden;
    }
    .registroNav {
        visibility: hidden;
        position: absolute;
    }
}