main {
    margin-top: 100px;
    background-color: rgb(66, 80, 190);
    padding-top: 10px;
    padding-bottom: 200px;
    margin-bottom: 100px;
}

/* footer {
    
} */

#imagenError {
    border-radius: 5%;
}

